/*
================
Page Template
================
*/



/*
----------
Content
----------
*/

	#content {

		header {
			margin-bottom: 30px;

			h1 {
				font-size: 42px;
				font-weight: 600;
				color: $blue;
			}
		}// header



		p {
			font-size: 18px;
		}
	}//#content
